
/*--------Nav-Menu--------*/
.nav-link{
  color: #ed136a;
  font-size: 30px;
  padding: 30px;
}
.nav .icon{
  display: none;
}
/*--------Nav-Menu--------*/

/*---Jumbotron-History---*/
.highlight_jumbo{
  color: #FF7272;
}
  /*---style liens---*/

a:visited{
  color: #ba5656;
}
a:hover{
  text-decoration: underline;
}

  /*---style liens---*/

/*---Jumbotron-History---*/


/*---------------PORTFOLIO---------------*/
.img-pf{
  width: 200px;
  height: auto;
}

  /*----Hover----*/
.zoom {
  padding: 0px;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(2.5) translateY(10%);
  z-index: 2;
}

.zoom {
text-align:center;
}
  /*----Hover----*/

/*---------------PORTFOLIO---------------*/


/*---Padding-Img---*/
.card-img-top{
  padding: 20px;
}
/*---Padding-Img---*/


/*------Clients------*/
.jumbo_clients{
  margin-top: 50px;
  margin-bottom: 0px;
  background: transparent;
}

.container_clients{
  display: flex;
  align-items: center;
  margin-top: 0px;
}


.nike_logo{
  margin-top: 65px;
}

.pixar_logo{
  padding-top: 110px;
}
/*------Clients------*/


/*-----About-----*/
.about_section{
  background-color: #E86B6B;
  margin-top: 50px;
}
/*-----About-----*/


/*-----Footer-----*/
footer{
  background-size: 100%;
  background-color: #FF7272;
}
.copyright{
  margin-top: 70px;
}
/*-----Footer-----*/


/*-----------------------Responsive----------------------*/

  /*----Desktop---*/

  @media screen and (min-width: 800px){

    .carou-pf{
      display: none;
    }
    .facebook_logo{
      width: 100px;
      height: auto;
    }
    .twitter_logo{
      width: 90px;
      height:auto;
    }
    .copyright{
      align-items: flex-start;
      vertical-align: middle;
    }
  }
  /*----Desktop---*/

  /*----Mobile---*/
@media screen and (max-width: 800px){

  .logo_jor_menu{
    align-items: flex-start;
    width: 60px;
    height: auto;
}
  .row-pf{
    display: none;
}
  .copyright{
    margin: 10px;
    text-align: center;
}
  .facebook_logo{
    width: 80px;
    height: auto;
}
  .twitter_logo{
    width: 70px;
    height: auto;
}
  .twitter_logo{
    margin-top: 7px;
}

  .img-carou-pf{
    margin:auto;
}
  .img-carou-portfolio{
    margin: auto;
}
  .carousel-item-pf {
    height: 800px;
}
  .carousel-item-pf img {
    padding: 10px;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
  .jumbo_clients h2 {
    margin: 0 0 50px;
    font-weight: lighter;
    line-height: 1;
    font-size: 50px;
    color: #c9c9c9;
    text-transform: uppercase;
  }
  .nike_logo{
    margin-top: 0px;
  }
  .pixar_logo{
    margin-top: 0px;
  }
  .card-message{
    margin-top: 10px;
  }
}
  /*----Mobile---*/

/*-----------------------Responsive----------------------*/





/*---------TEST---------*/

::-webkit-scrollbar {
    display: none;
    width: 0;
    background-color: transparent;
}
